body {
    font: 10pt sans-serif;
}

#col1 {
	float:left;
  width: 30%;
}

#col2 {
	display: inline-block;
  width: 40%;
}

#col3 {
  float:right;
  width: 30%;
}

#top {

}

#instructions {
  float:left;
  width:30%;
}

#parameters {
  display: inline-block;
  margin: 0 .25in;
  width: 40%;
}

.inline-svg {
  height: 1em;
  width: 1em;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.curve1 {
    stroke: steelblue;
}

.curve2 {
    stroke: crimson;
}

.curve1-filled {
	fill: lightsteelblue;
}

.curve2-filled {
	fill: #F56991;
}

.false-positive-curve {
	fill: darkorchid;
}

.false-negative-curve {
	fill: deeppink;
}

.tp {
	color: #F56991;
}

.fp {
	color: darkorchid;
}

.tn {
	color: steelblue;
}

.fn {
	color: deeppink;
}

.input {
}

p.input {
	text-align: center;
}

.inputtable {
  border-collapse: collapse;
}

label {
	display: inline-block;
	text-align: left;
}

.threshold {
	stroke: purple;
}

.optimal {
	stroke: red;
}

.control {
	fill: white;
	stroke: #000;
	stroke-width: 2px;
}

#thresholdcontrol {
	cursor: ew-resize;
}

#baseratecontrol {
	cursor: ns-resize;
}

.border {
	border: 1px solid;
	padding: .5em;
}

.border-left {
	border-left: 1px solid;
	padding: .5em;
}

.tabletitle {
  padding: .5em;
  font-weight: bold;
  text-align: center;
}

.confusion-matrix {
	border-collapse: collapse;
  margin: 0 auto;
}

#roc {
  align-content: right;
}

.roc-diagonal {
    fill: none;
    stroke-width: 1px;
	stroke: black;
}

.roc-curve {
    fill: none;
    stroke-width: 2px;
	stroke: purple;
}

.threshold-marker-line {
    fill: none;
    stroke-width: 1px;
}

.threshold-marker-line.fp {
	stroke: darkorchid;
}

.threshold-marker-line.tp {
	stroke: #F56991;
}

#threshold-marker {
	fill: white;
	stroke: purple;
	stroke-width: 2px;
}

#optimal-marker {
	fill: white;
	stroke: red;
	stroke-width: 2px;
}

.equationstable {
  border-collapse: collapse;
}

span.katex-display {
  margin-top: auto;
  margin-bottom: auto;
}
