body {
    font: 10pt sans-serif;
}

#col1 {
	float:left;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 1.5px;	
}

.curve1 {
    stroke: steelblue;
}

.curve2 {
    stroke: crimson;
}

.curve1-filled {
	fill: lightsteelblue;
}

.curve2-filled {
	fill: #F56991;
}

.false-positive-curve {
	fill: darkorchid;
}

.false-negative-curve {
	fill: deeppink;
}

.tp {
	color: #F56991;
}

.fp {
	color: darkorchid;
}

.tn {
	color: steelblue;
}

.fn {
	color: deeppink;
}

.input {
	font-size: 14pt;
	margin: 5px;
}

p.input {
	text-align: center;
}

label {
	display: inline-block; 
	text-align: left;
}

.threshold {
	stroke: purple;
}

.control {
	fill: white;
	stroke: #000;
	stroke-width: 2px;
}

#thresholdcontrol {
	cursor: ew-resize;	
}

.border {
	border: 1px solid;
	padding: .5em;
}

.confusion-matrix {
	border-collapse: collapse;
}

.roc-diagonal {
    fill: none;
    stroke-width: 1px;	
	stroke: black;
}

.roc-curve {
    fill: none;
    stroke-width: 2px;	
	stroke: purple;
}

.threshold-marker-line {
    fill: none;
    stroke-width: 1px;	
}

.threshold-marker-line.fp {
	stroke: darkorchid;
}

.threshold-marker-line.tp {
	stroke: #F56991;
}
#threshold-marker {
	fill: white;
	stroke: purple;
	stroke-width: 2px;
}